<?xml version="1.0"?>
<robot name="nut5">
    <link name="nut5">
        <visual>
            <geometry>
                <mesh filename="../mesh/nut/nut5.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/nut/nut5.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>
